body{
    background: green   ;
}
.data-container{
    
}
body h1{
    color: #bfbfbf;
}


.user-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background:linear-gradient(11deg,green,white );
}
.user-card h2 {
    color: #404040  ;
}
.user-card p {
    margin: 5px 0;
}
